# Node & Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.expo*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-env.d.ts
.metro-health-check*

# Native builds & signing
/ios
/android
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Environment & caches
.DS_Store
.vscode/
.turbo/
tmp/
temp/
.env*.local
*.tsbuildinfo

# Coverage / build
coverage/
build/

# Detox artifacts
artifacts/
.detoxrc.json
